[[source]]
url = "https://test.pypi.org/project/http-shrinkwrap/"
verify_ssl = true
name = "pypi"

[packages]
loguru = "*"
requests = "*"
uncurl = "*"
curlify = "*"

[dev-packages]
flask = "*"
bumpversion = "*"

[requires]
python_version = "3.9"
